.channel {
}
.channel__top {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}
.channel__user-link {
  display: flex;
  align-items: center;
  text-decoration: none;
  font-weight: bold;
  font-size: 26px;
  line-height: 33px;
  color: #19202C;
  margin-right: 19px;
}
.channel__user-img {
  display: block;
  width: 50px;
  height: 50px;
  margin-right: 20px;
}
.channel__text {
  margin: 0;
  font-size: 16px;
  line-height: 20px;
  color: #C2C2C2;
}
.channel__subscribe-button {
  border: none;
  padding: 10px 20px;
  color:#fff;
  background-color:#FF0000;
  border-radius: 20px;
  margin-left: auto;
  margin-right: 40px;
  cursor: pointer;
  white-space: nowrap;
}
.channel__list {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style-type: none;
  margin-left: -20px;
  margin-right: -20px;
}
.channel__item {
  position: relative;
  z-index: 1;
  min-width: 250px;
  margin-right: 20px;
  margin-left: 20px;
}
.channel__link {
  text-decoration: none;
}
.channel__img {
  display: block;
  width: 250px;
  height: 150px;
  margin-bottom: 10px;
  border-radius: 13px;
}
.channel__video-heading {
  margin-top: 0;
  margin-bottom: 4px;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  color: #19202C;
}
.channel__video-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 13px;
  line-height: 16px;
  color: #C2C2C2;
}
.channel__video-view {
  display: flex;
  align-items: center;
  margin: 0;
  margin-right: 9px;
  &::after{
    width: 2px;
    height: 2px;
    background-color: #c2c2c2;
    margin-left: 9px;
    content:"";
  }
}
.channel__video-day {
    margin: 0;
}
.channel__video-owner {
  margin: 0;
  margin-left: auto;
}
.channel__video-time {
  position: absolute;
  z-index: 1;
  top: 102px;
  right: 10px;
  padding: 3px 9px;
  background: rgba(0, 0, 0, 0.3);
  border-radius: 12px;
  font-size: 14px;
  line-height: 18px;
  color: #FFFFFF;
}

@include breakpoint-down (1030){
  .channel__text{
    display: none;
  }
}