.later {
}
.later__top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.later__heading {
  font-weight: bold;
  font-size: 26px;
  line-height: 33px;
  color: #19202C;
}
.later__list {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style-type: none;
  margin-left: -20px;
  margin-right: -20px;
}
.later__item {
  position: relative;
  z-index: 1;
  min-width: 250px;
  margin-right: 20px;
  margin-left: 20px;
}
.later__link {
  text-decoration: none;
}
.later__img {
  display: block;
  width: 250px;
  height: 150px;
  margin-bottom: 10px;
  border-radius: 13px;
}
.later__video-heading {
  margin-top: 0;
  margin-bottom: 4px;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  color: #19202C;
}
.later__video-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 13px;
  line-height: 16px;
  color: #C2C2C2;
}
.later__video-view {
  display: flex;
  align-items: center;
  margin: 0;
  margin-right: 9px;
  &::after{
    width: 2px;
    height: 2px;
    background-color: #c2c2c2;
    margin-left: 9px;
    content:"";
  }
}
.later__video-day {
  margin: 0;
}
.later__video-owner {
  margin: 0;
  margin-left: auto;
}
.later__video-time {
  position: absolute;
  z-index: 1;
  top: 102px;
  right: 10px;
  padding: 3px 9px;
  background: rgba(0, 0, 0, 0.3);
  border-radius: 12px;
  font-size: 14px;
  line-height: 18px;
  color: #FFFFFF;
}