.slide-buttons {
  margin-right: 7.7%;
}
.slide-button {
  background-color: rgba(0, 0, 0, 0.24);
  border: 0;
  border-radius: 50%;
  padding: 0;
  width: 28px;
  height: 28px;
  background-repeat: no-repeat;
  background-size: 7px 12px;
  cursor: pointer;
  white-space: nowrap;

}
.slide-button--prev {
  background-image: url(../img/left-arrow.svg);
  background-position: calc(50% - 2px)  center;
  margin-right: 10px;
}
.slide-button--next {
  background-image: url(../img/right-arrow.svg);
  background-position: calc(50% + 2px)  center;
}